<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>TD2 | VueJS</title>
    <style>
      ul p { margin: 0; }
      ul li { margin: 15px; }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 v-bind:title="messageTitle">{{ message }}</h1>

      <div class="lorem-container">
        <label for="toggleLorem">Tu veux du Lorem ?</label>
        <input type="checkbox" v-model="toggleLorem">
        <p v-if="toggleLorem">Eh bah non !</p>
      </div>

      <div class="movies">
        <div class="add-movie">
          <p><strong>New Movie</strong></p>
          <p style="color:gray; font-size: 13px;">Première lettre : <span v-if="newMovie.title !== undefined && newMovie.title.trim() != ''">{{ newMovie.title[0] }}</span></p>

          <movie-form v-bind:movie="newMovie" v-on:submit="addMovie"></movie-form>
        </div>

        <div class="search-form">
          <p>
            <strong>Search by</strong>
            <select v-model="search.attribute">
              <option value="title">Title</option>
              <option value="year">Year</option>
              <option value="director">Director</option>
            </select> :
            <input type="text" v-model="search.value" placeholder="Search...">
          </p>
        </div>

        <ul>
          <li
            is="movie-item"
            v-for="movie in movies"
            v-bind:movie="movie"
            v-bind:key="movie.id"
            v-on:edit="editMovie(movie.id)"
            v-on:destroy="destroyMovie(movie.id)">
          </li>
        </ul>

        <p>Nombre de films enregistrés : {{ movies.length }} <button type="button" v-on:click="popMovies">Pop</button></p>

        <div class="edit-movie" v-if="editingMovie !== null">
          <p><strong>Edit Movie</strong></p>

          <movie-form v-bind:movie="editingMovie" v-if="editingMovie !== null" v-on:submit="endEditMovie"></movie-form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>